@import '../modules/config.scss';
@import '../modules/colors.scss';

// generell styling
body {
  background-color: $bg-color;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

em {
  font-size: 2rem;
}

a {
  color: $bg-color;
  text-decoration: none;

  &:hover {
    color: lighten($nav-color, 20%);
  }
}
